
@font-face {
	font-family: 'titleFont';
	src: url('./BungeeShade-Regular.ttf');
	font-weight: 400;
	font-style: normal;
  }
@font-face {
		font-family: 'textFont';
		src: url('./Neucha-Regular.ttf');
		font-weight: 400;
		font-style: normal;
	  }
html, body {
margin: 0;
height: 100%;
min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}


#header {
	flex: none;
}

#header {
display: grid;
grid-template: 1fr / repeat(8, 1fr);
height: 100px;
width: 100%;
background-color: #F77A3B;
justify-items: end;	
align-items: end;
padding-right: 50px;
border-bottom: none;
border-style: none;
z-index: 2;
position: fixed;

}

#food-truck {
	font-family: "textFont";
	grid-area: 1 / 1 / 2 / 6;
	justify-self: center;
	text-shadow: #E4D27B 2px 3px;
	color: #0B0500;
	font-size: 38px;
}

.tab {
justify-self: center;
font-size: 38px;
padding: 10px;
padding-left: 25px;
padding-right: 25px;
font-family: 'textFont';
border-style: none;
border-radius: 10px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
background-color: #00A878;
color: #0B0500;
box-shadow: 6px 0px 3px -3px rgba(77,75,77,.5);
}

#homeTab {
grid-area: 1 / 6 / 2 / 7;
justify-self: end;
background-color: #F0B356;
text-shadow: #F77A3B 2px 3px;	
}

#menuTab {
grid-area: 1 / 7 / 2 / 8;
text-shadow: #6CCD8C 2px 3px;
}

/* #locationsTab {
grid-area: 1 / 8 / 2 / 9;
background-color: #FE4120;
text-shadow: #6CCD8C 2px 3px; */
/* } */

#content {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex-grow: 1;

}

/* homepage content */
	#home-page-content {
	display: grid;
	grid-template: repeat(6, 1fr) / repeat(3,1fr);
	border-top: none;
	border-style: none;	
	background-color: #F0B356;	
	width: 100%;
	}

	#asher {
	grid-area: 1 / 1 / 6 / 4;
	justify-self: center;
	align-self: start;
	position: relative;
	top: 250px;
	left: 175px;
	width: auto;
	height: 50%;
	z-index: 0;
	border-style: none;
	}	

	#title, #about {
	z-index: 1;
	padding-left: 20px;
	}

	#title {
	grid-area: 1 / 1 / 2 / 4;
	position: relative;
	top: 40px;
	text-align: start;
	font-size: 100px;
	font-family: 'titleFont';
	color: #FE4120;
	text-shadow: #852310 2px 3px;
	}

	#about {
	grid-area: 2 / 1 / 3 / 3;
	position: relative;
	top: -100px;
	left: -50px;
	font-size: 28px;
	width: 600px;
	justify-self: center;
	align-self: start;
	font-family: 'textFont';
	padding: 15px;
	line-height: 40px;
	background-color: rgb(250, 249, 246, 60%);
	border-radius: 15px;	
	color: #0B0500;
	box-shadow: 6px 6px 3px -3px rgba(77,75,77,.5);
	}
	
#about-truck {
	grid-area: 3 / 1 / 4 / 3;
	position: relative;
	top: -100px;
	left: 100px;
	font-size: 28px;
	width: 450px;
	justify-self: left;
	align-self: start;
	font-family: 'textFont';
	padding: 15px;
	line-height: 40px;
	background-color: rgb(250, 249, 246, 60%);
	border-radius: 15px;	
	color: #0B0500;
	box-shadow: 6px 6px 3px -3px rgba(77,75,77,.5);
	z-index: 1;
}
/* menu page */

#menu-page-content {
	background-color: #00A878;
	border-top: none;
	border-style: none;	
	width: 100%;
	height: 100%;
	z-index: 0;
}

#menu {
	position: relative;
	top: 150px;
	left: 350px;
	width: 600px;
	height: 400px;
	padding: 20px 60px;
	background-color: #6CCD8C;
	z-index: 1;
	font-family: 'textFont';
	color: #0B0500;
	border-radius: 15px;
	box-shadow: 6px 6px 3px -3px rgba(77,75,77,.5);
}

#menu-title {
	font-size: 50px;
	text-align: center;
	text-shadow: #00A878 2px 3px;
	
}

#breakfast-burrito, #quesadilla {
	font-size: 34px;
	text-shadow: #00A878 2px 3px;
}

#burrito-description, #quesadilla-description {
	font-size: 24px;
}



